# Ignore node_modules for React project
node_modules/

# Ignore virtual environment for Django project
.venv/

# Ignore Docker-related files that are not needed in GitHub
*.log
*.env

# Ignore SQLite database files
*.sqlite3

# Ignore Python bytecode
*.pyc
__pycache__/
